<!-- <h3>User list</h3>
<div class="m-4">
    <div>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Date of birth</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of service.list">
                    <td>user.name</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>                  
        </table>
    </div>
</div> -->